body,
html {
  height: 100%;
}

.side-panel {
  background-image: linear-gradient(
    #ebebeb,
    white
  ); /* Set your desired background color here */
  padding: 20px;
  height: 100%;
  position: absolute;
}

.avatar {
  position: relative;
  margin-bottom: 20px;
  display: inline-block;
}

.avatar img {
  width: 150px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  border: 5px solid #008080;
}

.avatar .edit-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 6px 12px;
  background-color: #008080;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
}

.avatar:hover .edit-button {
  opacity: 1;
}

.nav-link {
  color: #333;
  cursor: pointer;
  text-decoration: none;
}

.nav-link.active {
  font-weight: bold;
  color: #008080;
  transition: 0.1s;
}

.content {
  margin-top: 20px;
}

.col-md-10 {
  background: url(../img/bg-user.jpg);
}
